/**************************
* "Real Ann" by AsahiNyan *
**************************/

@define-color default-background #0f0f0f;
@define-color alt-background #242424;
@define-color last-split-bg #1d1d1d;
@define-color default-text #ffffff;
@define-color attempt-text #b0b0b0;
@define-color last-split-fg #757575;
@define-color time-text #dadada;
@define-color behind-bg #ff9469;
@define-color sob-bg #f6d949;
@define-color sob-fg #ffecce;
@define-color ahead-bg #95e85e;
@define-color done-bg #62b0fa;
@define-color wr-fg #d4ecff;
@define-color losing-t #ff6c6c;
@define-color losing-bg @losing-t;
@define-color ahead-fg #95e85e;
@define-color behind-fg #ff9469;
@define-color losing-fg #ff6c6c;
@define-color sob-fg #ffdc74;

* { font-weight: 900; }

scrollbar* { background-color: transparent; border: none; color: transparent; max-width: 0px; max-height: 0px; visibility: none; display: none; }

.window, .header { background-color: @default-background; color: @default-text; }

.title { color: @default-text; font-weight: 900; font-size: 16pt; }

.attempt-count { color: @attempt-text; font-size: 12pt; font-weight: 700; padding-top: 6px; }

.time { color: @time-text; }

.time.behind, .time.best-segment, time.best-split, .time.losing { color: @default-color; }

.timer { font-size: 24pt; font-family: Noto Sans Mono CJK JP; font-weight: 900; color: @ahead-bg; background-color: alpha(currentcolor,0.3); padding: 0px 10px 4px 30px; margin-bottom: 10px; margin-top: 9px; border-radius: 15px; transition: 0.7s background-color ease; }

.timer .timer-millis { font-size: 17pt; background-color: transparent; padding-bottom: 3px; color: alpha(@ahead-bg,0.7); }

.timer.behind .timer-millis { color: alpha(@behind-bg,0.7); }

.timer.losing .timer-millis { color: alpha(@losing-bg,0.7); }

.timer.delay .timer-millis { color: alpha(@done-bg,0.7); }

.timer.behind, .timer.behind:backdrop { background-color: alpha(currentcolor,0.3); color: @behind-bg; transition: 0.7s background-color ease; margin-bottom: 10px; }

.timer.losing, .timer.losing:backdrop { background-color: alpha(currentcolor,0.3); color: @losing-bg; transition: 0.7s background-color ease; margin-bottom: 10px; border-radius: 15px}

.timer.delay, .timer.delay:backdrop, .timer.done, .timer.done:backdrop { background-color: alpha(currentcolor,0.3); color: @done-bg; transition: 0.7s background-color ease; margin-bottom: 10px; }

.split { padding: 0px 10px 0px 10px; margin: 2px 0px 2px 0px; border-radius: 50px; min-height: 25px; background-color: transparent; transition: 0.5s all ease; }

.split-title { font-weight: 700; }

.split-icon { margin-top: 4px; margin-bottom: 4px; margin-right: 3px; border-radius: 100%; }

.split-time { color: @time-text; font-weight: 500; }

.split-last { font-weight: 900; background-color: @last-split-bg; color: @last-split-fg; border-radius: 50px; margin-bottom: 2px; margin-top: 2px; }

.split-last .split-time { color: @last-split-fg; }

.current-split { margin-left: 20px; margin-right: 04px; background-color: alpha(currentcolor,0.3); color: @default-text; font-weight: 900; transition: all 75ms cubic-bezier(0, 0, 0.2, 1), background-size 0ms, background-image 0ms, border 0ms; box-shadow: 0 0 0 3px alpha(currentcolor,0.3); background-size: 100%; text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; box-shadow: none; }

.current-split .split-time { color: alpha(#ffffff,0.8); text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; font-weight: 700; }

.split-delta { color: @ahead-bg; background-color: transparent; padding-left: 10px; padding-right: 10px; margin-top: 3px; margin-bottom: 3px; border-radius: 50px; transition: ease 0.3s background-color; max-width: 60px; min-width: 60px; }

.current-split .delta, .current-split .split-delta, .delta { color: @ahead-bg; background-color: alpha(@default-background,0.7); padding-left: 10px; padding-right: 10px; margin-top: 3px; margin-bottom: 3px; border-radius: 50px; transition: ease 0.3s background-color; max-width: 60px; min-width: 60px; }

.behind, .current-split .delta.behind { color: @behind-bg; background-color: alpha(@default-background,0.7); padding-left: 10px; padding-right: 10px; margin-top: 3px; margin-bottom: 3px; border-radius: 50px; transition: ease 0.3s background-color; max-width: 60px; min-width: 60px; }

.losing, .current-split .delta.losing { color: @losing-bg; background-color: alpha(@default-background,0.7); padding-left: 10px; padding-right: 10px; margin-top: 3px; margin-bottom: 3px; border-radius: 50px; transition: ease 0.3s background-color; max-width: 60px; min-width: 60px; }

.best-segment, .current-split .delta.best-segment { color: @sob-bg; background-color: alpha(@default-background,0.7); padding-left: 10px; padding-right: 10px; margin-top: 3px; margin-bottom: 3px; border-radius: 50px; transition: ease 0.3s background-color; max-width: 60px; min-width: 60px; }

box.footer { border-radius: 20px; background-color: @alt-background; font-weight: 700; }

box.footer > .prev-segment-label, box.footer > .prev-segment { background-color: @alt-background; padding: 10px 10px 5px 10px; border-radius: 20px 20px 0px 0px; }

box.footer > .sum-of-bests-label, box.footer > .sum-of-bests { background-color: @alt-background; padding: 5px 10px 5px 10px; border-radius: 0px; }

box.footer > .personal-best-label, box.footer > .personal-best { background-color: @alt-background; padding: 5px 10px 10px 10px; border-radius: 0px 0px 20px 20px; }

.window box.footer:nth-child(7) { background-color: transparent; }

.prev-segment { color: @ahead-bg; font-weight: 900; padding-left: 0px; padding-right: 0px; margin-top: 0px; margin-bottom: 0px; border-radius: 0px; transition: ease 0.3s background-color; max-width: 0px; min-width: 0px; }

.prev-segment.behind { color: @behind-fg; font-weight: 900; padding-left: 0px; padding-right: 0px; margin-top: 0px; margin-bottom: 0px; border-radius: 0px; transition: ease 0.3s background-color; max-width: 0px; min-width: 0px; }

.prev-segment.losing { color: @losing-fg; font-weight: 900; padding-left: 0px; padding-right: 0px; margin-top: 0px; margin-bottom: 0px; border-radius: 0px; transition: ease 0.3s background-color; max-width: 0px; min-width: 0px; }

.prev-segment.best-segment { color: @sob-fg; font-weight: 900; padding-left: 0px; padding-right: 0px; margin-top: 0px; margin-bottom: 0px; border-radius: 0px; transition: ease 0.3s background-color; max-width: 0px; min-width: 0px; }

.sum-of-bests { color: @sob-fg; font-weight: 900; padding-left: 0px; padding-right: 0px; margin-top: 0px; margin-bottom: 0px; border-radius: 0px; transition: ease 0.3s background-color; max-width: 0px; min-width: 0px; }

.personal-best { color: @ahead-fg; font-weight: 900; padding-left: 0px; padding-right: 0px; margin-top: 0px; margin-bottom: 0px; border-radius: 0px; transition: ease 0.3s background-color; max-width: 0px; min-width: 0px; }



/* ██████  ██    ██ ███████ ████████  ██████  ███    ███     ███████ ██████  ██      ██ ████████      ██████  ██████  ██       ██████  ██████  ███████
/* ██      ██    ██ ██         ██    ██    ██ ████  ████     ██      ██   ██ ██      ██    ██        ██      ██    ██ ██      ██    ██ ██   ██ ██
/* ██      ██    ██ ███████    ██    ██    ██ ██ ████ ██     ███████ ██████  ██      ██    ██        ██      ██    ██ ██      ██    ██ ██████  ███████
/* ██      ██    ██      ██    ██    ██    ██ ██  ██  ██          ██ ██      ██      ██    ██        ██      ██    ██ ██      ██    ██ ██   ██      ██
/* ██████  ██████  ███████     ██     ██████  ██      ██     ███████ ██      ███████ ██    ██         ██████  ██████  ███████  ██████  ██   ██ ███████

/*********
*  SM64  *
*********/
/* WF */
.split-title-wf.current-split,
.split-title-wf--9-.current-split,
.split-title-wf--10-.current-split,
.split-title-wf--6-.current-split,
.split-title-wf--4-.current-split,
.split-title-wf--26-.current-split,
.split-title-wf--8-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/wf.png"); }

/* BitDW */
.split-title-bitdw.current-split,
.split-title-bitdw--12-.current-split,
.split-title-bitdw--13-.current-split,
.split-title-bitdw--9-.current-split,
.split-title-bitdw--1-.current-split,
.split-title-bowser-1.current-split,
.split-title-bitdw--12-.current-split,
.split-title-dw--1-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/bitdw.png"); }

/* CCM */
.split-title-ccm.current-split,
.split-title-ccm--18-.current-split,
.split-title-ccm--17-.current-split,
.split-title-ccm--8-.current-split,
.split-title-ccm--59-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/ccm.png"); }

/* BBH */
.split-title-bbh.current-split,
.split-title-bbh--20-.current-split,
.split-title-bbh--19-.current-split,
.split-title-bbh--66-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/bbh.png"); }

/* SSL */
.split-title-ssl.current-split,
.split-title-ssl--24-.current-split,
.split-title-ssl--10-.current-split,
.split-title-ssl--11-.current-split,
.split-title-ssl--7-.current-split,
.split-title-ssl--34-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/ssl.png"); }

/* LLL */
.split-title-lll.current-split,
.split-title-lll--30-.current-split,
.split-title-lll--11-.current-split,
.split-title-lll--12-.current-split,
.split-title-lll--50-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/lll.png"); }

/* HMC */
.split-title-hmc.current-split,
.split-title-hmc--36-.current-split,
.split-title-hmc--15-.current-split,
.split-title-hmc--58-.current-split,
.split-title-hmc100--36-.current-split,
.split-title-hmc-100--36-.current-split,
.split-title-hmc--42-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/hmc.png"); }

/* DDD */
.split-title-ddd.current-split,
.split-title-ddd-100.current-split,
.split-title-ddd-100--68-.current-split,
.split-title-ddd100--68-.current-split,
.split-title-ddd--39-.current-split,
.split-title-ddd--33-.current-split,
.split-title-ddd--16-.current-split,
.split-title-ddd--1-.current-split,
.split-title-ddd--74-.current-split,
.split-title-ddd--73-.current-split,
.split-title-upstairs--74-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/ddd.png"); }

/* BitFS */
.split-title-bitfs.current-split,
.split-title-bitfs--40-.current-split,
.split-title-bitfs--34-.current-split,
.split-title-bitfs--71-.current-split,
.split-title-bitfs--74-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/bitfs.png"); }

/* WDW */
.split-title-wdw.current-split,
.split-title-wdw--45-.current-split,
.split-title-wdw--39-.current-split,
.split-title-wdw--81-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/wdw.png"); }

/* THI */
.split-title-thi.current-split,
.split-title-thi--48-.current-split,
.split-title-thi--42-.current-split,
.split-title-thi--88-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/thi.png"); }

/* TTM */
.split-title-ttm.current-split,
.split-title-ttm--54-.current-split,
.split-title-ttm--48-.current-split,
.split-title-ttm--96-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/ttm.png"); }

/* SL */
.split-title-sl.current-split,
.split-title-sl--59-.current-split,
.split-title-sl--52-.current-split,
.split-title-sl--103-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/sl.png"); }

/* RR */
.split-title-rr.current-split,
.split-title-rr--63-.current-split,
.split-title-rr--62-.current-split,
.split-title-rr--119-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/rr.png"); }

/* TTC */
.split-title-ttc.current-split,
.split-title-ttc--70-.current-split,
.split-title-ttc--69-.current-split,
.split-title-ttc--111-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/ttc.png"); }

/* BitS */
.split-title-bits.current-split,
.split-title-bits--120-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/bits.png"); }

/* JRB */
.split-title-jrb.current-split,
.split-title-jrb--16-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/jrb.png"); }

/* VC */
.split-title-vc.current-split,
.split-title-vc--52-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/vc.png"); }

/* WMOTR */
.split-title-wmotr.current-split,
.split-title-cloud--104-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/wmotr.png"); }

/* BOB */
.split-title-bob.current-split,
.split-title-bob--26-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/bob.png"); }

/* LBLJ */
.split-title-lblj.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/lblj.png"); }

/* SBLJ */
.split-title-sblj.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/sblj.png"); }

/* BLJ */
.split-title-blj.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/blj.png"); }

/* WC */
.split-title-wc.current-split,
.split-title-wc--12-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/wc.png"); }

/* PSS */
.split-title-pss.current-split,
.split-title-pss--3-.current-split,
.split-title-pss--19-.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/pss.png"); }

/* Mips */
.split-title-mips.current-split { background-image: url("https://raw.githubusercontent.com/AsahiNyan/real-ann_urn-theme/refs/heads/main/sm64/mips.png"); }
