* { font-weight: 900; outline-color: transparent; outline: none; transition: none; box-shadow: none; }
scrollbar *, scrollbar slider, scrollbar{ background: none; border: none; color: transparent; box-shadow: none;}
