@use "colors.scss" as c;
@use "sass:string";
@use "sass:color";

.window box:nth-child(2):not(.split) // .splits
{
      background-color: c.$windowBg;
      margin-right: -3px;
      margin-left: -3px;
}

.split
{
      padding: 0px 10px 0px 10px;
      margin: 2px;
      border-radius: 10px;
      min-height: 25px;
      background-color: transparent;
      transition: 0.5s all ease, font-size 15ms;
      margin-left: 13px;
      margin-right: 10px;

      &:nth-child(even):not(.current-split)
      {
            background-color: rgba(c.$lastSplitBg, 0.02);
      }
}
.current-split
{
      margin-left: 6px;
      margin-right: 2px;
      background-color: rgba(c.$windowFg, 0.2);
      color: c.$windowFg;
      transition:
            all 200ms cubic-bezier(0, 0, 0.2, 1),
            background-size 0ms,
            background-image 0ms,
            border 0ms,
            font-size 15ms
      ;
      background-size: 100%;
      min-height: 30px;
      font-size: 13pt;
      padding: 1px;
      padding-right: 10px;
      padding-left: 12px;
      font-weight: 900;
      border-color: rgba(c.$windowFg, 0.2);
      box-shadow: 0 0 0 2px c.$iBorder;
}

.split-icon
{
      border-radius: 999px;
      border: 1px solid c.$iBorder;
      margin-right: 6px;
      padding-right: 6px;
}

.split-last .split
{
      margin-bottom: 5px;
      &:not(.current-split)
      {
            color: string.unquote("alpha(#{c.$timeFg}, 0.4)");
            padding: 5px;
            font-size: 8pt;
            border-radius: 0;
            border-top: 1px solid color.mix(c.$lastSplitBg, c.$windowFg, 95%);
            font-size: 9pt;
            & .split-time { color: string.unquote("alpha(#{c.$timeFg}, 0.4)"); }
      }
}

